setuptools
coverage
cryptography
Django>=1.9.4
django_coverage
flake8
ipython
mock
pep8
psycopg2
pyflakes
pytz
six
yolk
freezegun
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
